@model Inventario.Models.TIPO_EQUIPO

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TIPO_EQUIPO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoEquipo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoEquipo)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
